### Pemilihan Umum 2024 ({{percentage}}% progress)
#### diambil pada: {{updatedAt}} | KPU update pada: {{kpuUpdatedAt}}

```mermaid
pie title Persentase Perolehan Real Count KPU
    "ANIES - MUHAIMIN" : {{candidate1}}
    "PRABOWO - GIBRAN" : {{candidate2}}
    "GANJAR - MAHFUD MD" : {{candidate3}}
```
